@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 3vh; /* default font-size = 1.0rem */
    font-family: 'Helvetica Neue', Calibri, Verdana, sans-serif;
    background-color:#444;
}
h1{
    color: #eee;
<<<<<<< HEAD
<<<<<<< HEAD
    font-size:5.2rem;
    text-shadow: -2px -2px 2px gold, 2px 2px 2px #000;

}
h3{
    font-size:2.2rem;
=======
    font-size:3rem;
}
h3{
    font-size:1.5rem;
>>>>>>> parent of ec2e64f... almost done
=======
    font-size:3rem;
}
h3{
    font-size:1.5rem;
>>>>>>> parent of ec2e64f... almost done
}
p{
    margin-top: 50px;
    font-size:1.2rem;

}
nav a, nav a:link, nav a:visited{
    color: gold;
    text-decoration: none;
}
nav a:hover, a:active{
<<<<<<< HEAD
<<<<<<< HEAD
    color: #fff;
}

 {text-decoration: none;}

<<<<<<< HEAD
nav ul{
    border-top:10px, solid, red;
    padding-top:10px;
    
    text-align:justify;
    font-size: 1.2rem;


=======

}
nav ul{
    text-align:right;
>>>>>>> parent of ec2e64f... almost done
=======

}
nav ul{
    text-align:right;
>>>>>>> parent of ec2e64f... almost done
}
=======
>>>>>>> origin/gh-pages
nav li{
<<<<<<< HEAD

=======
>>>>>>> parent of ec2e64f... almost done
    display:inline;

}
#wrapper{
    max-width:929px;
    color:#444;
}

#masthead{
<<<<<<< HEAD
<<<<<<< HEAD
    padding-top: 83px;

    text-align:center;
    background-image: url("../img/saturn.v1.jpg");
=======
=======
>>>>>>> parent of ec2e64f... almost done
    background-image: url("http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg");
>>>>>>> parent of ec2e64f... almost done
    height:300px;
    color: #eee;   
}

#mainnav{
    border-top:10px solid #666;
    border-bottom:15px solid #666;
    text-align:justify;
    font-size: 1.6rem;
}

#main{
    color: #d4d4d4;
    background-color: #222;
<<<<<<< HEAD
<<<<<<< HEAD

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

}
#main p {
    margin-top: 50px;
    font-size:1.7rem;
}


=======
    padding:30px;
}
>>>>>>> parent of ec2e64f... almost done
=======
    padding:30px;
}
>>>>>>> parent of ec2e64f... almost done
#footer{
    color: #999;
    background-color: #333;

}
#footer p{
    font-size:10px;
}
#footer a{
    color:gold;
}