@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    padding-left: 50px;
    font-size: 3vh; /* default font-size = 1.0rem */
    font-family: 'Helvetica Neue', Calibri, Verdana, sans-serif;
    background-color:#444;
}
h1{
    color: #eee;
    font-size:5rem;
    text-shadow: -2px -2px 2px gold, 2px 2px 2px #000;

}
h3{
    font-size:2.2rem;
}
p{


}
nav a, nav a:link, nav a:visited{
    color: gold;
}
nav a:hover, a:active{
    color: #fff;
}

a .nounderline:link {text-decoration: none;}

nav li{

    display:inline;
    margin-top: 50px;

    padding-left: 30px;
    padding-right: 30px;

}


#wrapper{
    max-width:929px;
    color:#444;
}

#masthead{
    padding-top: 83px;

    text-align:center;
    background-image: url("../img/saturn.v1.jpg");
    height:300px;
    color: #eee;   
}

#mainnav{
    border-top:10px solid #666;
    border-bottom:15px solid #666;
    text-align:justify;
    font-size: 1.6rem;
}

#main{
    color: #d4d4d4;
    background-color: #222;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

}
#main p {
    margin-top: 50px;
    font-size:1.7rem;
}


#footer{
    color: #999;
    background-color: #333;
    font-size:20px;
    padding:30px;
}
#footer p{

}
#footer a{
    color:gold;
}